{{define "mainForm"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>Главная страница</title>
    <style>
        .layer {
          background: rgb(255, 255, 255); /* Цвет фона */
          border-bottom: 2px solid black; /* Параметры рамки */
          padding: 10; /* Поля вокруг текста */
        }
      </style>
</head>
  <body class="d-flex flex-column h-100">

   {{ template "header" }}
    
 
    <main class="flex-shrink-10 layer" >
        <div class="container-fluid" >
          {{ template "Title" }}
          <form>
              <h4 class="lead" ><big>Информация о сотруднике:</big></h4>
              <p class="lead">Peson_ID: {{ .Id}}</p>
              <p class="lead">Peson_Email:  {{ .Email}}</p>
              <p class="lead">Peson_Phone:  {{ .Phone}}</p>
              <p class="lead">Peson_FirstName:  {{ .FirstName}}</p>
              <p class="lead">Peson_LastName:  {{ .LastName}}</p>
            </form>
        </div>
      </main>
    </body>
</html>

{{ end }}